<div class="center hero-unit">
  <h1>Welcome to FeedBackValued</h1>

  <h2>
    This is the home page for the
    <a href="https://github.com/PushkarJ/FeedBackValued/">FeedBackValued</a>
    application.
  </h2>

  <%= link_to "Get Feedback", getFeedback_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Give Feedback", giveFeedback_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<footer  style= "text-align: center; border-top: 1px solid #eaeaea;"><small>A Ruby on Rails practice assignment</small></footer>
